.layout {
  min-height: 100vh;
}

.site-layout-content {
  min-height: 80vh;
  padding: 40px;

  /* Glassmorphism css under*/
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}

.menu {
  justify-content: flex-end;
}

.avatar-group {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: right;
}

.ant-row-rtl .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

/* ================================== */
/* Dark theme setting below */
/* ================================== */
[data-theme="dark"] .site-layout-content {
  background: #141414;
}